body {
	text-align: center;
}

.heart {
	height: 50px;
	width: 50px;
	background-color: red;
	position: absolute;

	left: 45%;
	top: 45%;
	transform: rotate(45deg);

	animation: beat 1s infinite;
}

.heart:before,
.heart:after {
	height: 50px;
	width: 50px;
	background-color: red;
	position: absolute;

	content: "";
	border-radius: 50%;
}

.heart:before {	
	left: -25px;
	top: 0;
}

.heart:after {
	left: 0;
	top: -25px;
}

@keyframes beat {
	0% {
		transform:
			scale(1)
			rotate(45deg);
	}

	20% {
		transform:
			scale(1.25)
			rotate(45deg);
	}

	40% {
		transform:
			scale(1.5)
			rotate(45deg);
	}
}