body {
	background: black;
	background-color: black;
}
div {
	font-weight: bold;
	font-size: 40px;
}
#black {
	color: white;
}
#red {
	color: red;
}
#green {
	color: green;
}
#blue {
	color: blue;
}